.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 1;
  animation: showModal 0.5s ease;

  .modal {
    width: 80%;
    max-width: 400px;
    height: 400px;
    position: relative;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modalBtn {
      font-size: 1.2rem;
      position: absolute;
      color: white;
      z-index: 1;
      top: 10px;
      right: 10px;
      background-color: #ff4e00;
      background-image: linear-gradient(360deg, #ff4e00 0%, #ec9f05 74%);
      height: 30px;
      width: 30px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      border: none;
    }
    .modalBtn:hover {
      opacity: 0.9;
    }
  }
}

@keyframes showModal {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
