@import '../const.scss';

.description {
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;

  .descriptionArrowsBtn {
    margin-top: -12.5vh;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ff4e00;
    background-image: linear-gradient(360deg, #ff4e00 0%, #ec9f05 74%);
    height: 5vh;
    width: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;

    span {
      display: block;
      margin-top: -4px;
      margin-bottom: 4px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
    }
  }

  .descriptionTitle {
    margin-top: 15vh;
    font-size: 2rem;

    @media (max-width: $desktop-small) {
      font-size: 1.4rem;
    }

    @media (max-width: $mobile) {
      margin-top: 20vh;
      font-size: 1.1rem;
    }
  }

  .descriptionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;

    .descriptionItem {
      width: 45%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10vh;

      .itemImage {
        width: 45%;
        height: auto;
      }

      .firstPhone {
        transform: rotate(-20deg);
      }
      .secondPhone {
        margin-bottom: -20vh;
      }

      .fourthPhone {
        margin-bottom: -70vh;
        transform: rotate(-70deg);
      }

      .itemArrow {
        width: 40%;
      }

      .thirdArrow {
        transform: rotateY(180deg);
        margin-left: 15vw;
        margin-top: -15vh;
        margin-bottom: 15vh;
      }

      .fourthArrow {
        margin-left: -20vw;
      }

      .itemText {
        z-index: 200;

        .itemTextTitle {
          font-family: 'Love', sans-serif;
          color: rgb(241, 125, 17);
          font-size: 1.1rem;
          width: 90%;
        }

        .itemTextTitle::first-letter {
          float: left;
          font-size: 4rem;
          line-height: 2rem;
          padding-top: 0.8rem;
          padding-right: 8px;
        }
      }

      .firstParagraph {
        align-self: flex-start;
      }

      .thirdParagraph {
        margin-top: -10vh;
      }

      .fouthParagraph {
        margin-left: -10vw;
        width: 100%;
      }

      @media (max-width: $desktop-small) {
        .itemImage {
          width: 30%;
          height: auto;
        }

        .fourthPhone {
          margin-bottom: -40vh;
        }

        .itemArrow {
          width: 25%;
        }

        .itemText {
          z-index: 200;
          font-size: 0.7rem;

          .itemTextTitle {
            font-size: 0.8rem;
          }

          .itemTextTitle::first-letter {
            float: left;
            font-size: 1.6rem;
            line-height: 1.5rem;
            padding-top: 0.4rem;
          }
        }

        .secondItem {
          margin-top: 20vh;
        }
      }

      @media (max-width: $tablet) {
        flex-direction: column;

        .firstParagraph {
          align-self: center;
        }

        .secondParagraph {
          margin-top: -20vh;
        }

        .thirdParagraph {
          margin: 0;
        }

        .fouthParagraph {
          margin: 0;
          order: 2;
        }

        .fourthPhone {
          margin: 0;
        }

        .itemArrow {
          display: none;
        }
      }

      @media (max-width: $mobile) {
        .secondPhone {
          margin: 0;
          order: -1;
          transform: rotate(70deg);
        }

        .secondParagraph {
          margin: 0;
        }

        .fouthParagraph {
          margin: 0;
        }

        .fourthPhone {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;

      .descriptionItem {
        flex-direction: column;
        margin-bottom: 5vh;
        width: 90%;
      }
    }
  }
}

.description::before {
  content: ' ';
  position: absolute;
  top: 90vh;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: white;
  width: 100%;
  height: 10vh;
}
