.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      display: flex;
      flex-direction: column;
      margin: 5px;

      input {
        width: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }

    button {
      font-family: 'Montserrat-Bold', sans-serif;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      color: white;
      background-color: #ff4e00;
      background-image: linear-gradient(360deg, #ff4e00 0%, #ec9f05 74%);
      outline: none;
      cursor: pointer;
    }
    button:hover {
      opacity: 0.9;
    }
  }
}
