@import '../const.scss';

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
  position: fixed;
  top: 0;
  color: white;
  z-index: 100;

  .navbarContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .navbarLogo {
      font-family: 'Montserrat-Bold';
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 900;
      text-decoration: none;
      color: gray;
      border: 4px solid gray;
      padding: 8px 18px;
      opacity: 0.8;
    }

    .navbarList {
      display: flex;
      align-items: flex-start;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: auto;

      li {
        padding: 0 1vw;
        display: block;
        height: auto;
        cursor: pointer;
      }

      li:hover {
        opacity: 0.7;
      }

      li:nth-child(3) {
        border-right: 1px solid white;
      }
    }

    @media (max-width: $desktop-small) {
      .navbarLogo {
        font-size: 2rem;
      }

      .navbarList {
        font-size: 0.78rem;
      }
    }

    @media (max-width: $tablet) {
      width: 95%;
      flex-direction: column;
      align-items: center;

      .navbarLogo {
        margin-bottom: 20px;
      }
      
      .navbarList {
        li {
          padding: 0 2vw;
        }
      }
    }
    @media (max-width: $mobile) {
      .navbarList {
        font-size: 0.6rem;

        li {
          padding: 0 2.3vw;
        }
      }
    }
  }
}

.transparent {
  background-color: rgba($color: #fff, $alpha: 0.95);
  color: rgb(66, 66, 66);
  transition: all 0.5 ease-in-out;
}
