@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Love';
  src: url('./fonts/LoveYaLikeASister-Regular.ttf');
}

html {
  scroll-behavior: smooth;
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    120deg,
    rgb(46, 34, 172) 10%,
    rgb(204, 70, 159)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    120deg,
    rgb(46, 34, 172) 10%,
    rgb(204, 70, 159)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
